* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #f0d2c6, #ee9f80);
    color: white;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #865101;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-link {
    color: rgb(241, 229, 229);
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(223, 223, 223);
}

.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.about-hero {
    background: #D9B99B;
    padding: 90px 0;
    overflow: hidden;
}

.about-tag {
    display: inline-block;
    background: #ead8c8;
    color: #7c5435;
    padding: 8px 22px;
    border-radius: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-content h1 {
    font-size: 58px;
    font-weight: 700;
    color: #2f2f2f;
    line-height: 1.2;
}

.about-content p {
    color: #000000;
    font-size: 17px;
    line-height: 1.8;
    margin: 25px 0;
}

.about-btn {
    background: #8B5E3C;
    color: #fff;
    padding: 14px 35px;
    border-radius: 40px;
    font-weight: 600;
}

.about-btn:hover {
    background: #6f472b;
    color: #fff;
}

.about-img {
    width: 100%;
    max-width: 650px;
    border-radius: 20px;
    transition: .5s ease;
    height: 500px;
    animation: float 2s ease-in-out infinite;
}

.about-img:hover {
    cursor: pointer;
    width: 100%;
    max-width: 660px;
    border-radius: 20px;
    transform: scale(1.08) rotate(4deg);
    animation: float 2s ease-in-out infinite;
    filter: drop-shadow(0 20px 35px rgb(48, 48, 48));
}


@keyframes float {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }

}

.our-story {
    background: #fcddcb;
}

.story-img {
    width: 550px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid rgb(1, 55, 80);
    box-shadow: 5px 5px 15px rgb(248, 244, 244);
}

.story-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(3, 55, 57);
    cursor: pointer;
    animation-name: __pulse;
    animation-duration: 2s;
}
.story-tag {
    display: inline-block;
    background: #ead8c8;
    color: #8B5E3C;
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.our-story h2 {
    font-size: 42px;
    color: #2f2f2f;
    font-weight: 700;
    margin-bottom: 20px;
}

.our-story p {
    color: #181616;
    line-height: 1.9;
}

.our-story h3 {
    color: #8B5E3C;
    font-size: 38px;
    font-weight: 700;
}

.our-story span {
    color: #666;
}

@media(max-width:992px) {

    .about-hero {
        text-align: center;
    }

    .about-content h1 {
        font-size: 44px;
    }

    .about-img {
        margin-top: 40px;
    }

    .our-story {
        text-align: center;
    }

    .story-img {
        margin-bottom: 35px;
    }

    .our-story h2 {
        font-size: 34px;
    }

}

@media(max-width:768px) {

    .about-hero {
        padding: 70px 0;
    }

    .about-content h1 {
        font-size: 34px;
    }

    .about-content p {
        font-size: 15px;
    }

    .about-btn {
        width: 100%;
    }

    .about-img {
        max-width: 100%;
    }

    .our-story h2 {
        font-size: 28px;
    }

    .our-story h3 {
        font-size: 28px;
    }

}